@charset "UTF-8";
/* CSS Document */

.logo {
	height:30px;

}
.jumbotron-bg {
	background-image: url("../ifixit/banner.jpg");
	background-size: cover;
	background-position: center,top;
}


.img{
height: 200px;
}
.image{
	height: 800px;
}